<div class="container">
    <h1>Google photo search by date</h1>
    <h2>(a quick and dirty workaround to the broken date search)</h2>
    Reference: 
    <ul class="references">
    <li>
        <a href="https://developers.google.com/photos/library/guides/get-started" target="get-started">
            https://developers.google.com/photos/library/guides/get-started
        </a>
    </li>
    <li>
        <a href="https://developers.google.com/photos/library/guides/apply-filters#dates-date-ranges" target="filters">
            https://developers.google.com/photos/library/guides/apply-filters#dates-date-ranges
        </a>
    </li>
    <li>
        <a href="https://github.com/abacritt/angularx-social-login">
            https://github.com/abacritt/angularx-social-login
        </a>
    </li>
    </ul>

    <app-dashboard></app-dashboard>
    <app-carousel></app-carousel>

    <router-outlet></router-outlet>
</div>