<div class="login container" *ngIf="user==undefined">

  <button type="button" class="btn btn-dark" (click)="signInWithGoogle()" >Sign in Google</button>

</div>
<div *ngIf="user!=undefined" class="userdetails">
    <img src="{{ user.photoUrl }}"/>

      <ul class="meta">
<!--        <li>{{ user.name }}</li> -->
        <li>{{ user.email }}</li>
      </ul>
      <button type="button" class="btn btn-dark" (click)="signOut()">Sign out</button>
</div>
  
<form *ngIf="user != undefined" (ngSubmit)="search()">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="date">Date</label>
    </div>
    <input class="form-control" type="date" name="date" [(ngModel)]="mediaDate"/>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="pageSize">Page size</label>
    </div>
    <select name="pageSize" class="form-control" [(ngModel)]="pageSize">
      <option value="10" selected>10</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <div class="input-group-append">
      <button class="btn" 
        [class.btn-primary] = "status == statuses.READY"
        [class.btn-secondary] = "status == statuses.LOADING"
        [disabled] = "status == statuses.LOADING">
        Search</button>
    </div>
  </div>
</form>