<button type="button" class="btn btn-dark" (click)="signInWithGoogle()" *ngIf="user==undefined">Sign in Google</button>

<div *ngIf="user!=undefined" class="userdetails">
    <img src="{{ user.photoUrl }}"/>

      <ul class="meta">
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
      </ul>

</div>
  
<form *ngIf="user != undefined">
  <label><input class="form-control" type="date" name="date" [(ngModel)]="mediaDate"/></label>
  <button type="button" class="btn btn-primary" (click)="search()">Search</button>
</form>