/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";


h1 {

}

.footer {
    margin-top: 150px;

    .no-liability {
        margin-top:10px;
        font-size: 0.7em;
    }
}
